<!DOCTYPE html>


{% extends "layouts/base.html" %}
{% block body %}
    <head>
        <style>
            body {
                background-color: navy;
            }
            h1, h3, p, li {
                color: white;
            }
            li, h1, h3, p {
                padding-left: 20px;
            }
            a {
                color: deepskyblue;
            }
            a:hover {
                color: skyblue;
            }

        </style>
    </head>

    <h1>Official Resources</h1>
    <body>
    <h3>Some resources from the <a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Home">official website,</a>
        collected here for easy browsing:</h3>
    <li><a href="https://hs-articulation.ucop.edu/agcourselist/institution/1902">A-G approved courses</a></li>
    <li><a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Counseling/Counseling-Staff"> Contact the counselors</a></li>
    <li><a href="https://www.powayusd.com/PUSD/media/DNHS/documents/Counseling/Presentations/Course-Catalog-2022-2023.pdf">
        Course Catalog</a></li>
    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/AP-contract-(3).pdf.aspx?lang=en-US">
        AP Contract</a></li>
    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/4-year-plan_Guidesheet-(1).pdf.aspx?lang=en-US">
        4 year planner</a> (paper version)</li>
    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/CTE-DNHS-2022-23-updated-2-0.pdf.aspx?lang=en-US">
        CTE pathways</a></li>


    <p>CRFs</p>
    <li><a href="https://www.powayusd.com/PUSD/media/DNHS/documents/Counseling/Presentations/CRF-9th-Grade-2022-2023-3-01-22_1.pdf">
        9th grade
    </a></li>
    <li><a href="https://www.powayusd.com/PUSD/media/DNHS/Counseling/Course%20Request%20-%20Incoming%209th%20Grade/9th-Grade-CRF-instructions_2.pdf">
        9th grade instructions
    </a></li>

    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/10th-Grade-CRF-2-1-22.pdf.aspx?lang=en-US">
        10th grade
    </a></li>
    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/11th-Grade-CRF-2-1-22.pdf.aspx?lang=en-US">
        11th grade
    </a></li>
    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/12th-Grade-CRF-2-1-22.pdf.aspx?lang=en-US">
        12th grade
    </a></li>
    <li><a href="https://www.powayusd.com/getattachment/Schools/HS/DNHS/Counseling/Course-Request-10th-12th-Grade/Course-Request-Instructions-(2).pdf.aspx?lang=en-US">
        10-12th grade instructions
    </a></li>
    </body>

{% endblock %}