<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layouts/base.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block meta %}
    <title>CRUD page</title>
    <script src={{url_for("crud.static", filename="javascript/validation.js", version='101') }}></script>
    <script src={{url_for("crud.static", filename="javascript/reload_page.js", version='101') }}></script>
{% endblock %}

<!-- CONTENT (in <body>), content for this page -->
{% block body %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">Database of Courses Offered at DNHS</span>
        </header>
    </div>
    <div>
        <div>
            <div>
                <h2>Select Your Classes</h2>
                <p>Select all courses in your desired path: </p>
                <p>For windows: Hold down the control (ctrl) button to select multiple options</p>
                <p>For Mac: Hold down the command button to select multiple options</p>
            </div>
        </div>

        <div>
            <div>
                <table class="table">
                    <tr>
                        <th>Subject</th>
                        <th>9th Grade</th>
                        <th>10th Grade</th>
                        <th>11th Grade</th>
                        <th>12th Grade</th>
{#                        <th>Totals</th>#}
                    </tr>



                    {% for subject_list in subjects_list %}
                        {% set index = loop.index - 1 %}
                        <tr>
                            <td>
                                {{ subjects_titles[index] }}
                            </td>
                            {% for grade in subject_list %}
                                {% set grade_index = loop.index - 1 %}
                                {% set grade_index_str = grade_index | string() %}

                                {% set course_param = grade_index_str + subjects_titles[index] %}
                                <td>
                                    <form>
                                        <select multiple onchange="totals('{{ course_param }}', {{ grade_index_str}})" id="{{ course_param }}">
                                            <option value="">---Choose {{ subjects_titles[index] }}---</option>
                                            {% for course in grade %}
                                                <option value={{ course['course_id'] }}>{{ course['course_name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </td>
{#                                {% if grade_index_str == '3' %}#}
{#                                    {% set credits = subjects_titles[index] | string() %}#}
{#                                    {% set course_param = course_param | string() %}#}
{#                                    <td onclick="counting_totals('{{ course_param }}', '{{ credits }}')" id="{{ credits }}">hello</td>#}
{#                                {% endif %}#}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                <tr>
                    <td>Totals</td>
                    <td><p id="fresh-total"></p>So far you have <span id="fresh-list"></span> course(s)</td>
                    <td><p id="soph-total"></p>So far you have <span id="soph-list"></span> course(s)</td>
                    <td><p id="junior-total"></p>So far you have <span id="junior-list"></span> course(s)</td>
                    <td><p id="senior-total"></p>So far you have <span id="senior-list"></span> course(s)</td>
                </tr>
                </table>
            </div>
        </div>
    </div>

    <script>

    let totalFreshCourses = 0
    let totalSophCourses = 0
    let totalJuniorCourses = 0
    let totalSeniorCourses = 0

    function totals(course_param, grade_index_str) {
            var access= document.getElementById(course_param).selectedOptions
            console.log(access)

            var values = Array.from(access).map(({ value }) => value);
            console.log(values);

            grade = grade_index_str


            // if you try to unclick something, it's not subtracted from the total number of courses
            if (grade === 0) {
                totalFreshCourses = totalFreshCourses + values.length
                console.log("fresh total: " + totalFreshCourses)

                if (totalFreshCourses < 15) {
                    document.getElementById("fresh-total").innerHTML = "you do not have enough courses yet"
                    document.getElementById("fresh-list").innerHTML = totalFreshCourses
                }
                else if (totalFreshCourses > 15) {
                    document.getElementById("fresh-total").innerHTML = "you have too many courses"
                    document.getElementById("fresh-list").innerHTML = totalFreshCourses
                }
                else {
                    document.getElementById("fresh-total").innerHTML = "you have the right amount"
                    document.getElementById("fresh-list").innerHTML = totalFreshCourses
                }
            }
            else if (grade === 1) {
                totalSophCourses = totalSophCourses + values.length
                console.log("soph total: " + totalSophCourses)

                if (totalSophCourses < 15) {
                    document.getElementById("soph-total").innerHTML = "you do not have enough courses yet"
                    document.getElementById("soph-list").innerHTML = totalSophCourses
                }
                else if (totalSophCourses > 15) {
                    document.getElementById("soph-total").innerHTML = "you have too many courses"
                    document.getElementById("soph-list").innerHTML = totalSophCourses

                }
                else {
                    document.getElementById("soph-total").innerHTML = "you have the right amount"
                    document.getElementById("soph-list").innerHTML = totalSophCourses
                }
            }
            else if (grade === 2) {
                totalJuniorCourses = totalJuniorCourses +values.length
                console.log("junior total: " + totalJuniorCourses)

                if (totalJuniorCourses < 15) {
                    document.getElementById("junior-total").innerHTML = "you do not have enough courses yet"
                    document.getElementById("junior-list").innerHTML = totalJuniorCourses
                }
                else if (totalJuniorCourses > 15) {
                    document.getElementById("junior-total").innerHTML = "you have too many courses"
                    document.getElementById("junior-list").innerHTML = totalJuniorCourses
                }
                else {
                    document.getElementById("junior-total").innerHTML = "you have the right amount"
                    document.getElementById("junior-list").innerHTML = totalJuniorCourses
                }
            }
            else {
                totalSeniorCourses = totalSeniorCourses + values.length
                console.log("senior total: " + totalSeniorCourses)

                if (totalSeniorCourses < 15) {
                    document.getElementById("senior-total").innerHTML = "you do not have enough courses yet"
                    document.getElementById("senior-list").innerHTML = totalSeniorCourses
                }
                else if (totalSeniorCourses > 15) {
                    document.getElementById("senior-total").innerHTML = "you have too many courses"
                    document.getElementById("senior-list").innerHTML = totalSeniorCourses
                }
                else {
                    document.getElementById("senior-total").innerHTML = "you have the right amount"
                    document.getElementById("senior-list").innerHTML = totalSeniorCourses
                }

            }
            console.log("Grade is: " + grade)
        }
        {##}
        {#let totalSSCI = 0#}
        {##}
        {#function counting_totals(course_param, credits) {#}
        {#    // which td to change/where totals will be#}
        {#    var subject_total = document.getElementById(credits)#}
        {#    console.log(subject_total)#}
        {##}
        {#    var access = document.getElementById(course_param).selectedOptions#}
        {#    console.log(access)#}
        {#    var values = Array.from(access).map(({value}) => value);#}
        {#    console.log(values);#}
        {##}
        {#    var subject = course_param.substring(1)#}
        {#    console.log(subject)#}
        {#  }#}
        {##}

    // totals don't update correctly




    </script>

{% endblock %}