<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layouts/base.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block meta %}
    <title>CRUD page</title>
    <script src={{url_for("crud.static", filename="javascript/validation.js", version='101') }}></script>
    <script src={{url_for("crud.static", filename="javascript/reload_page.js", version='101') }}></script>
{% endblock %}

<!-- CONTENT (in <body>), content for this page -->
{% block body %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span class="fs-4">Database of Courses Offered at DNHS</span>
        </header>
    </div>
    <div>
        <div>
            <div>
                <h2>Select Your Classes</h2>
            </div>
        </div>

        <div>
            <div>
                <table class="table">
                    <tr>
                        <th>Subject</th>
                        <th>9th Grade</th>
                        <th>10th Grade</th>
                        <th>11th Grade</th>
                        <th>12th Grade</th>
                        <th>Totals</th>
                    </tr>



                    {% for subject_list in subjects_list %}
                        {% set index = loop.index - 1 %}
                        <tr>
                            <td>
                                {{ subjects_titles[index] }}
                            </td>
                            {% for grade in subject_list %}
                                <td>
                                    <form>
                                        <select>
                                            <option value="">---Choose {{ subjects_titles[index] }}---</option>
                                            {% for course in grade %}
                                                <option value={{ course['course_id'] }}>{{ course['course_name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}